{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
 {% for obj in object_list %}
    <div class="card my-3">
      <div class="card-header"><a href="{{ obj.url }}">{{ obj.title }} </a></div>
      <div class="card-body">
          <h4>{{obj.company}}</h4>
        <p class="card-text">{{obj.description}}</p>
          <p>{{obj.city.name}} | {{obj.language.name}} | <small>{{obj.timestamp|date:"d-m-Y"}}</small></p>
      </div>
    </div>
 {% empty %}
    <div class="row">
        <h3 class="mx-auto">К сожалению, по вашему запросу ничего не найдено!</h3>
    </div>
 {% endfor %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="get" action="">
                <div class="mb-3">
                     {{form.as_p}}
                </div>
                <button type="submit" class="btn btn-primary">Найти</button>
            </form>
        </div>
    </div>
{% endblock %}